extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			for app in applicants
				h3
					a(href="/applicant/#{app._id}") #{app.name}
				h6
					a(href="/delete/#{app._id}") delete #{app.name}
		h4
			a(href="/") Home